:root {
  --bodyBG: oklch(17% 0.03 260);
  --bodyFB: oklch(92% 0.02 255);
}

:root[data-theme="light"] {
  --bodyBG: oklch(93% 0.01 255);
  --bodyFB: oklch(24% 0.03 255);
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

body {
  background: var(--bodyBG);
  color: var(--bodyFB);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  line-height: 1.5;
  margin: 0;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: currentColor;
  inline-size: 1em;
  margin-inline-start: 0.4em;
  vertical-align: -0.125em;
}
